include README.rst
include LICENSE.rst
include distribute_setup.py

recursive-include gammafit *.pyx *.c 
recursive-include gammafit/examples *_demo.py velax_cocoon.spec


recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o 
prune docs/_build
prune build

